<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
  <ul class="list-group">
    <!--<li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user.name,user)" class="trash"><i class="fa fa-times pull-right"></i></a>
    </li>-->
  </ul>
  <div class="row">
    <div class="col-sm-12">
      <legend>Add Product</legend>
    </div>
  </div>

	<div class="row">


        <!-- panel preview -->
        <div ng-show="isAdmin" class="panel col-sm-12">
            <h4>Product description:</h4>
            <div class="panel-body panel-default">
              <form ng-submit="addProduct(product)">
                <fieldset ng-disabled="isUploading">
                <div class="panel-body form-horizontal payment-form col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" ng-model="product.name" name="name" required>
                        </div>
                    </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Company</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="company" ng-model="product.company" name="name">
                    </div>
                  </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="5" class="form-control" id="description" ng-model="product.description" name="description">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Quantity</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="amount" ng-model="product.quantity" name="amount" required>
                        </div>
                    </div>






                </div>
                  <div class="panel-body form-group col-sm-6">

                    <div ng-disabled="isUploading" ng-show="files[0]== null" ng-class="{disabled:isUploading}" class="upload-group col-sm-offset-3 col-sm-9" ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles"
                         ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                         ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*'"
                         ngf-drop-available="dropAvailable">
                      <div><i class="fa fa-upload"></i></div>
                      <div ng-hide="dropAvailable">File Drop not available</div>
                      <div ng-show="dropAvailable">Drop Images</div>
                      <div>Click to select</div>

                        </div>
                        <div class="preview col-sm-offset-3 col-sm-9" ng-show="files[0] != null">
                          <a href="#" ng-click="files=null" ng-show="!isUploading"><i class="fa fa-times"></i></a>
                          <div class="overlay col-sm-12">
                            <img class="col-sm-12" ngf-src="files[0]" ng-show="files[0].type.indexOf('image') > -1" ngf-accept="'image/*'">
                          </div>
                        </div>

                  </div>


          <div class="form-group">
            <div class="col-sm-12 text-right">

              <button type="submit" class="btn btn-default btn-sm" ng-click="">
                <span class="glyphicon glyphicon-plus"></span> Add Device

              </button>
              <div ng-show="isUploading" class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%">
                  <p>Adding Device...</p> <br/>
                </div>

              </div>
            </div>

          </div>
          </fieldset>
          </form>
        </div> <!-- / panel preview -->

	</div>
    <div class="row">
      <div class="col-sm-12">
        <legend>Current Products</legend>
      </div>
      <div class="col-sm-12">
        <h4>Current Products:</h4>
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table preview-table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Quantity</th>
                  <th>Status</th>
                  <th>Available</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in productService.getProducts()">
                  <td>{{product.name}}</td>
                  <td>{{product.company}}</td>
                  <td>{{product.quantity}}</td>

                  <td><img height="50" ng-src="{{product.image}}" alt=""></td>
                  <td><div class="checkbox">
  <label><input type="checkbox" value="" ng-model="product.active" ng-change="saveProduct(product)"></label>
</div></td>
                </tr>

                </tbody> <!-- preview content goes here-->
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">

      <div class="col-sm-12">
        <legend>Reservation Requests</legend>
      </div>
    </div>
    <div class="row">
      <div class=" col-sm-12">

      <div class="list-group">
       <h4 ng-show="productService.getReservations().length == 0">No reservations! :(</h4>
        <div class="search-prods">
          <input ng-model="search.reservation" placeholder="Search Reservation" type="text">
        </div>
        <div class="list-group-item clearfix" ng-repeat="reservation in productService.getReservations() | reservationFilter:search.reservation">

          <p class="pull-left">{{reservation.full_name}} ({{reservation.user.name}}) wants to rent a {{reservation.product.name}}. Requested at {{reservation.createdAt | date:'medium'}}</p>
          <div class="pull-right">
            <!-- Button trigger modal -->
            <a class="btn btn-success btn-sm" ng-click="openRentalModal(reservation)">Create Rental</a>
            <a class="btn btn-warning btn-sm" href="#" ng-click="removeReservation(reservation)">Reject <i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <legend> Current Rentals</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4  ng-show="productService.getActiveRentals().length == 0">No rentals! :(</h4>
      <div class="search-prods">
        <input ng-model="search.rental" placeholder="Search Rentals" type="text">
      </div>
        <br/>
      <div class="list-group">
         <div  href="#" class="list-group-item clearfix" ng-repeat="rental in productService.getActiveRentals() | rentalFilter:search.rental">
            <div class="pull-left">
           <h4>{{rental.full_name}} rented {{rental.product.name}} on {{rental.date | date:'medium'}}</h4>
           <p><strong>User:</strong>{{rental.user.name}}/{{rental.user.email}}
           </p>
            </div>
           <div class="rental-button  pull-right">
           <a class="btn btn-success btn-sm" ng-click="viewRental(rental)">View Rental Info</a>
           </div>

        </div>
      </div>
      </div>
    </div>
</div>


