<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user.name,user)" class="trash"><i class="fa fa-times pull-right"></i></a>
    </li>
  </ul>
</div>


	<div class="row">
        <div class="col-sm-12">
            <legend>Add Product</legend>
        </div>
        <!-- panel preview -->
        <div ng-show="isAdmin" class="col-sm-5">
            <h4>Product description:</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" ng-model="product.name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="5" class="form-control" id="description" ng-model="product.description" name="description">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Quantity</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="amount" ng-model="product.quantity" name="amount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="status" name="status">
                                <option>Enabled</option>
                                <option>Disabled</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="upload-group">
                            <h4 ng-file-select="" ng-file-drop="" ng-model="files" ng-model-rejected="rejFiles"  ng-accept="accept" accept="{{acceptSelect}}" ng-disabled="disabled" ng-capture="capture" drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" allow-dir="allowDir" class="drop-box" drop-available="dropAvailable">Select Product Image
                                <span ng-show="dropAvailable">or Drop</span>
                            </h4>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-9">
                            <p><i>{{files[0].name}}</i></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-default preview-add-button" ng-click="addProduct(product)">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!-- / panel preview -->
        <div class="col-sm-7">
            <h4>Current Products:</h4>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table preview-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in productService.getProducts()">
                                    <td>{{product.name}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td><img height="50" ng-src="{{product.image}}" alt=""></td>
                                    <td><a href="#" ng-click="deleteProduct(product)" class="trash"><i class="fa fa-times"></i> </a></td>
                                </tr>

                            </tbody> <!-- preview content goes here-->
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <hr style="border:1px dashed #dddddd;">
                    <button type="button" ng-click="reserveProduct()" class="btn btn-primary btn-block">Submit all and finish</button>
                </div>
            </div>
        </div>
	</div>
    <div class="row">
        <h1>Reservation Requests</h1>
        <div class="alert alert-block clearfix" ng-repeat="reservation in productService.getReservations()">
          <div style="float:left"><h4 class="alert-heading">Alert block</h4>
          <p>{{reservation.user.name}} wants to rent a {{reservation.product.name}}. Requested at {{reservation.createdAt | date:'medium'}}</p> </div>
          <span class="pull-right">
          <a class="btn btn-success btn-small" href="#" ng-click="addRental(reservation)">Accept <i class="fa fa-check"></i></a>
          <a class="btn btn-primary btn-small" href="#" ng-click="removeReservation(reservation)">Reject <i class="fa fa-times"></i></a>
          </span>
        </div>
    </div>
    <div class="row">
        <h1>Current Rentals</h1>
        <table class="table">
            <tr>
                <th>User <input ng-model="search.user.name" type="text"></th>
                <th>Product <input ng-model="search.product.name" type="text"></th>
                <th>Date loaned <input ng-model="search.date" type="text"></th>
            </tr>
            <tr ng-repeat="rental in productService.getActiveRentals() | filter:search:strict">

                <td>{{rental.user.name}} </td>
                <td>{{rental.product.name}}</td>
                <td>{{rental.date | date:'medium'}} </td>
                <td>{{rental.returned}} </td>
                <td><a ng-show="!rental.returned" class="btn btn-success btn-small" href="#" ng-click="returnRental(rental)">Returned <i class="fa fa-check"></i></a></td>
            </tr>
        </table>

    </div>
</div>
