<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row vdivide">

    <div class="col-sm-6">
      <h3>Login</h3>
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-default btn-md btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-default btn-md btn-register" href="/signup">
            Register
          </a>
        </div>
      </form>
      <hr>
           <a class="btn-lg btn-github" href="" ng-click="loginOauth('github')">
            <i class="fa fa-github-alt"></i> Connect with GitHub
          </a>
    </div>
    <!--
    <div class="col-sm-6">
      <h1>Signup</h1>
           <form class="form" name="formReg" ng-submit="register(formReg)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': formReg.name.$valid && regsubmitted,
                                            'has-error': formReg.name.$invalid && regsubmitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="reguser.name"
                 required/>
          <p class="help-block" ng-show="formReg.name.$error.required && regsubmitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': formReg.email.$valid && submitted,
                                            'has-error': formReg.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="reguser.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="formReg.email.$error.email && regsubmitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="formReg.email.$error.required && regsubmitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="formReg.email.$error.mongoose">
            {{ regErrors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': formReg.password.$valid && regsubmitted,
                                            'has-error': formReg.password.$invalid && regsubmitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="reguser.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(formReg.password.$error.minlength || formReg.password.$error.required) && regsubmitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="formReg.password.$error.mongoose">
            {{ regErrors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-lg btn-github" type="submit">
            Sign up
          </button>

        </div>

      </form>
    </div>-->
  </div>
  <hr>
</div>
