<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
	<div class="product" ng-repeat="product in productService.getProducts()">
        <h4>{{product.name}}</h4>
                                    <p>{{product.description}}</p>
                                    <p>{{product.quantity}}</p>
                                    <div class="image" style="background-image:url('{{product.image}}')}"></div>

                                Reserved: {{productService.getProductReserved(product).length}} Rented: {{productService.getProductRentals(product).length}}
            <a href="#" class="btn btn-primary" ng-click="reserveProduct(product)">Reserve Product</a>
    </div>
</div>

<!--<form method='post' action='api/products/upload' enctype="multipart/form-data">
        <input type='file' name='fileUploaded'>
        <input type='submit'>-->
