
.prod-container {
    a {
      color: #333;
    }
    a:hover {
      text-decoration:none;
    }
    h4 {
      font-weight: bolder;
      color: #333;
    }
    width: 100%;
    background-color: white;
    border: 1px solid rgba(204, 204, 204, 0.5);
    margin: 10px 24px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 1px 1px 2px rgba(204, 204, 204, 0.22);
    transition: box-shadow 0.5s linear;
    border-radius: 4px;
    .image {
          height: 176px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 50%;
        background-color: white;
    }
    &:hover {
      box-shadow: 1px 2px 4px rgba(104, 104, 104, 0.9);
      transition: box-shadow 0.5s linear, border 0.5s linear;
      background-color: rgba(241, 240, 240, 0.51);
    }
    .product-title {
    border-top:1px solid #DDD;
      padding-left:10px;
          padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    
    }
    p {
        color: #7B7B7B;
    }
}

.product.show {
  margin-left: 0px;
  opacity:1;
}
.products.jumbotron {
  background-image: url("/assets/images/header.jpg");

  color:white;

}

