

.btn {
	border-radius:0;
}
.product {
  width: 30%;
  float: left;
  margin-right: 3%;
  background: rgba(165, 165, 165, 0.08);
  margin-bottom: 3%;
  padding: 14px;
  border: 1px solid #CCC;

  .image {
    width: 90%;
    height: 200px;
    background-size: contain;
  }
}
